{{!-- 主条款  --}}
<div class="form-group">
    <label>主条款</label>
    <table class="table table-hover table-section" data-key="mainrisks" data-category="{{ mainrisks.category }}" data-vcode="{{ mainrisks.vcode }}">
        <thead>
        <tr>
            <th>#</th>
            <th>险别</th>
            <th>保额</th>
        </tr>
        </thead>
        <tbody>
        {{#each mainrisks.list}}
        <tr>
            <td>
                <input type="checkbox" data-kindcode="{{ kindcode }}"
                data-needinput={{ needinput }}
                data-name="{{ name }}"
                    {{#if selected}}
                    checked={{ selected }}
                    {{/if}}
                >
            </td>
            <td>{{ name }}</td>
            <td>
                {{#if needinput }}
                   <input type="text">
                {{else}}
                    {{#if amount }}
                        <select class="form-control">
                        {{#each amount}}
                            <option>{{ this }}</option>
                        {{/each}}
                        </select>
                    {{/if}}
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{!-- 附加险条款 --}}
<div class="form-group">
    <label>附加险条款</label>
    <table class="table table-hover table-section" data-key="additionalrisk" data-category="{{ additionalrisk.category }}" data-vcode="{{ additionalrisk.vcode }}">
        <thead>
        <tr>
            <th>#</th>
            <th>险别</th>
            <th>保额</th>
        </tr>
        </thead>
        <tbody>
        {{#each additionalrisk.list}}
        <tr>
            <td>
                <input type="checkbox" data-kindcode="{{ kindcode }}"
                data-needinput={{ needinput }}
                data-name="{{ name }}"
                {{#if selected}}
                checked={{ selected }}
                {{/if}}
                >
            </td>
            <td>{{ name }}</td>
            <td>
                {{#if needinput }}
                   <input type="text">
                {{else}}
                    {{#if amount }}
                        <select class="form-control">
                        {{#each amount}}
                            <option>{{ this }}</option>
                        {{/each}}
                        </select>
                    {{/if}}
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{!-- 不计免赔条款 --}}
<div class="form-group">
    <label>不计免赔条款</label>
    <table class="table table-hover table-section" data-key="regardlessrisk" data-category="{{ regardlessrisk.category }}" data-vcode="{{ regardlessrisk.vcode }}" >
        <thead>
        <tr>
            <th>#</th>
            <th>险别</th>
            <th>保额</th>
        </tr>
        </thead>
        <tbody>
        {{#each regardlessrisk.list}}
        <tr>
            <td>
                <input type="checkbox" data-kindcode="{{ kindcode }}"
                data-needinput={{ needinput }}
                data-name="{{ name }}"

                {{#if selected}}
                    checked={{ selected }}
                {{/if}}
                >
            </td>
            <td>{{ name }}</td>
            <td>
                {{#if needinput }}
                   <input type="text">
                {{else}}
                    {{#if amount }}
                        <select class="form-control">
                            {{#each amount}}
                            <option>{{ this }}</option>
                            {{/each}}
                        </select>
                    {{/if}}
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>

{{!-- 保险公司 --}}
<div class="form-group">
    <label>保险公司</label>
    <table class="table table-hover table-section" id="J-policycmpList" data-key="policycmp">
        <thead>
        <tr>
            <th>#</th>
            <th>保险公司</th>
        </tr>
        </thead>
        <tbody>
        {{#each policycmp}}
            <tr>
                <td>
                    <input type="radio" data-id="{{ id }}" data-name="{{ name }}" name="policycmp"
                    {{#if selected}}
                    checked={{ selected }}
                    {{/if}}
                    >
                </td>
                <td>{{ name }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
